SERVER_PORT={{ backend_server_port }}
SPRING_PROFILES_ACTIVE={{ backend_spring_profile | default('azure') }}
SPRING_DATASOURCE_URL=jdbc:sqlserver://{{ sql_server_fqdn }}:1433;database={{ sql_database_name }};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
SPRING_DATASOURCE_USERNAME={{ backend_db_username }}
SPRING_DATASOURCE_PASSWORD={{ backend_db_password }}
